@{
    ViewBag.Title = "Web Client For Gismeteo Parser";
}

<div>
    <h3>Доступные даты для города</h3>
    <table>
        <tr>
            <td></td>
        </tr>
        @foreach (DateTime date in ViewBag.Dates)
        {
            <tr>
                <td><a href="/Home/GetWeather?date=@date.ToString("M")">@date.ToString("M")</a></td>
            </tr>
        }
    </table>
</div>