@{
    Layout = null;
    ViewBag.Title = "Web Client For Gismeteo Parser";
}

<div>
    <h3>Популярные города</h3>
    <table>
        <tr>
            <td></td>
        </tr>
        @foreach (var city in ViewBag.Cities)
        {
            <tr>
                <td><p>@city</p></td>
                @*<td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>*@
            </tr>
        }
    </table>
</div>