@{
    ViewBag.Title = "Web Client For Gismeteo Parser";
}

<div>
    <h3>Популярные города</h3>
    <table>
        <tr>
            <td></td>
        </tr>
        @foreach (string city in ViewBag.Cities)
        {
            <tr>
                <td><a href="/Home/GetDates/@city.ToString()">@city</a></td>
            </tr>
        }
    </table>
</div>